<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메모</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
    <link crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
          rel="stylesheet">
    <script th:if="${result == false}">
        alert('메모를 작성하지 못하였습니다.');
        history.back();
    </script>
    <script defer th:src="@{/resources/scripts/index.js}"></script>
</head>
<body>
<form id="memoForm" method="post">
<!--    method가 요청보내는 방식-->
    <h1 class="title">메모</h1>
    <div class="container">
        <label class="input-container nickname-container">
            <span hidden>닉네임</span>
            <input autofocus class="input nickname" maxlength="10" minlength="2" name="nickname" placeholder="닉네임"
                   type="text">
        </label>
        <label class="input-container text-container">
            <span hidden>메모</span>
            <input autofocus class="input text" maxlength="100" minlength="1" name="text" placeholder="메모를 작성해 주세요."
                   type="text">
        </label>
        <input class="button" type="submit" value="작성하기">
    </div>
</form>
<div id="memoContainer">
    <table>
        <thead>
        <tr>
            <th>순번</th>
            <th>작성자</th>
            <th class="spring">내용</th>
            <th>일시</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memo : ${memos}">
<!--     react == map       -->
            <th th:text="${memo.getIndex()}"></th>
            <td th:text="${memo.getNickname()}"></td>
            <td th:text="${memo.getText()}"></td>
            <td th:text="${#dates.format(memo.getDatetime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a class="delete" href="#" rel="delete" th:data-index="${memo.getIndex()}">삭제</a>
            </td>
            <td>
                <a class="modify" href="#" rel="modify" th:data-index="${memo.getIndex()}" th:data-text="${memo.getText()}">수정</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ul id="pageContainer">
    <li class="page" th:if="${pagingModel.requestPage > 1}">
        <a class="link" th:href="@{'./' (p = ${1}, c = ${searchCriterion}, q = ${searchQuery})}">처음</a>
    </li>
    <li class="page" th:if="${pagingModel.requestPage > 1}">
        <a class="link" th:href="@{'./' (p = ${pagingModel.requestPage - 1}, c = ${searchCriterion}, q = ${searchQuery})}">이전</a>
    </li>
    <li class="page" th:each="page : ${#numbers.sequence(pagingModel.displayStartPage, pagingModel.displayEndPage)}">
        <a class="link" th:href="@{'./' (p = ${page}, c = ${searchCriterion}, q = ${searchQuery})}" th:text="${page}"></a>
    </li>
    <li class="page" th:if="${pagingModel.requestPage < pagingModel.maxPage}">
        <a class="link" th:href="@{'./' (p = ${pagingModel.requestPage + 1}, c = ${searchCriterion}, q = ${searchQuery})}">다음</a>
    </li>
    <li class="page" th:if="${pagingModel.requestPage < pagingModel.maxPage}">
        <a class="link" th:href="@{'./' (p = ${pagingModel.maxPage}, c = ${searchCriterion}, q = ${searchQuery})}">마지막</a>
    </li>
</ul>
<form id="searchForm" method="get">
    <label class="label">
        <select class="input" name="c">
            <option selected value="content">내용</option>
            <option value="nickname">작성자</option>
        </select>
    </label>
    <label class="label">
        <input class="input" maxlength="10" name="q" placeholder="검색" type="text">
    </label>
    <input class="button" type="submit" value="검색">
</form>
<div id="modifyCover"></div>
<form id="modifyForm">
    <h2 class="title">수정</h2>
    <label class="label">
        <input readonly class="input" name="index" type="text">
    </label>
    <label class="label">
        <input class="input" name="text" type="text">
    </label>
    <div class="button-container">
        <input class="button" rel="close" type="button" value="취소">
        <input class="button modify" type="submit" value="수정하기">
    </div>
</form>
</body>
</html>

